{% extends 'base.html.twig' %}

{% block title %}Hello {{ name }}{% endblock %}

{% block body %}


<div class="aboutme-wrapper">
<h1>Lets get to know me: {{ name }}</h1>
<p>lorem ipsum blablablabla...</p>
<a href="{{ '/' }}">Take my hand</a>
</div>
{% endblock %}
